body {
    margin: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}

.navbar {
    background-color: black;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-evenly; 
}

a {
    color: white;
    text-decoration: none;
}

.container {
    display: flex;
    flex-wrap: wrap;
    height: 47vh; 
}

.container img {
    width: 33.333%;
    height: 100%;
    object-fit: cover;
}
