body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url('BG\ PHOTO.jpg'); 
    background-size: cover;
    background-color: rgba(255, 255, 255, 0.8); 
}

header {
    background-color: rgb(5, 90, 5);
    color: white;
    padding: 20px;
    text-align: center;
}

.descripción {
    padding: 20px;
    background-color: transparent; 
}

.destinos {
    display: flex;
    flex-wrap: wrap; 
    align-items: flex-start; 
    background-color: rgba(208, 242, 240, 0.652);
    padding: 20px;
}

.destinos h2 {
    width: 100%;
    text-align: center;
    margin-top: 0; 
}

.destino {
    text-align: center;
    margin-bottom: 20px; 
}

.destino img {
    width: 300px;
    height: 250px;
    object-fit: cover;
    border-radius: 5px;
}

.destino-info {
    margin-top: 10px; 
}

.ofertas {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-around;
    align-items: flex-start;
    background-color: rgba(234, 248, 247, 0.652);
    padding: 20px;
}

.ofertas h2 {
    width: 100%;
    text-align: center;
    margin-top: 0; 
}

.oferta {
    text-align: center;
}

.oferta img {
    width: 400px;
    height: 350px;
    object-fit: cover;
    border-radius: 5px;
}

.oferta-info {
    margin-top: 10px; 
}

.oferta-info p {
    text-align: center;
    margin-bottom: 5px; 
}


footer {
    background-color: rgba(0, 0, 0, 0.5); 
    color: white;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
}

form {
    max-width: 650px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
 }

form input, form select {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #c2ebe6a4;
    border-radius: 5px;
}

form button {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    background-color: #333;
    color: white;
    cursor: pointer;
}

form button:hover {
    background-color: #555;
}
