.GridAreas {
    display: grid;
    grid-template-areas: 
    'header header imagen'
    'asides content content'
    'asides content content'
    'footer footer footer';
    height: 80vh;
    text-align: center;
    font-size: x-large;
}


.header {
    background-color: darkred; 
    color: white;
    padding: 20px;
    grid-area: header;
}

.imagen {
    background-color: rgb(100, 18, 16); 
    color: white;
    padding: 20px;
    grid-area: imagen;
}

.Asides {
    background-color: rgb(235, 113, 6); 
    padding: 20px;
    display: grid;
    gap: 250px;
    grid-area: asides;
}

aside {
    background-color: white; 
    color: orange;
}

.Content {
    display: grid;
    grid-template-rows: auto auto;
    background-color: rgb(255, 57, 30); 
    color: white;
    padding: 20px;
    grid-area: content;
    gap: 10px;
}

.Contenido, .Texto {
    border: 2px solid white;
    padding: 10px;
}

footer {
    background-color: rgb(100, 18, 16); 
    color: white;
    line-height: 50px; 
    grid-area: footer;
}
