body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: blue;
}

.navbar {
    background-color: black;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between; 
}

.navbar .logo img {
    height: 40px;
}

.navbar .links a {
    color: white;
    text-decoration: none;
}

header {
    background-color: blue;
    padding: 20px;
    text-align: center;
    color: white;
}

.container {
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.curso {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid black;
    width: 100%;
    margin: 20px auto;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px 0;
}

footer ul {
    list-style-type: none;
    padding: 0;
}

footer ul li {
    display: inline;
}

footer ul li a {
    color: white;
    text-decoration: none;
}
